<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GuardarServlet</servlet-name>
        <servlet-class>GuardarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServlet</servlet-name>
        <servlet-class>EliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarServlet</servlet-name>
        <servlet-class>ModificarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarServlet2</servlet-name>
        <servlet-class>ModificarServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarServlet</servlet-name>
        <url-pattern>/GuardarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServlet</servlet-name>
        <url-pattern>/EliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarServlet</servlet-name>
        <url-pattern>/ModificarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarServlet2</servlet-name>
        <url-pattern>/ModificarServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
